body {
    font-family: Arial, Sans serif;
    background-color: #f4f6f8;
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: #f4f6f8;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 0 0.1;
}

form{
    display:flex;
    flex-direction:column;
    padding: 8px;
}

input{
    padding: 8px 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    flex: 1;
}

button{
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #020c15;
}

.result-word{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.error{
    color: red;
    margin-top: 10px;
}